.box {
    background-color: blue;
    height: 400px;
    width: 400px;
    margin: auto;
    background: linear-gradient(yellow, blue, red);
    background: linear-gradient(100deg, yellow, blue, red);
    background: linear-gradient(200deg, yellow, blue, red);
    border: 10px solid black;
    background: radial-gradient(yellow 10%, red 90%);
    border-radius: 50%;
}